.pilih-kota {
    /* width: 100%; */
    display: flex;
    padding-left: 26px;
}

.pilih-kota select {
  font-family: "montserrat", sans-serif;
  font-weight: 100;
  border-radius: 8px;
  width: 228px;
  font-size: 16px;
  border-width: 2.5px;
  border-color: #c4c4c4;
  padding: 2px;
}
