.pilih-kategori {
  width: 100%;
}

.pilih-kategori div {
  display: flex;
}

.pilih-kategori h2 {
  font-size: 36px;
  font-family: "montserrat", sans-serif;
  padding-top: 20px;
  text-align: left;
  padding-left: 26px;
}

.pilih-kategori div button {
  height: 77px;
  width: 77px;
  margin-top: 14px;
  margin-left: 26px;
  margin-right: -11px;
  border-radius: 8px;
  border-style: hidden;
  background: #000;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.pilih-kategori div button img {
  width: 100%;
  height: 100%;
  border-style: hidden;
}
